# CodeIgniter runtime files
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*

!writable/cache/index.html
!writable/debugbar/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/uploads/index.html

# Environment files
.env
.env.*

# Composer dependencies
/vendor/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.bak